body {
  > .main {
    > .productsBackground {
      width: 100%;
      height: 500px;
      background-image: url(../../../images/productPage-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 10%;
      position: relative;
      > .ContainerShadow {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 500px;
        background-color: #1111117d;
        z-index: 10;
      }
      > .aboutProducts {
        position: absolute;
        top: 8%;
        right: 8%;
        z-index: 15;
        > .productsHeading {
          width: 350px;
          font-family: YekanBakh-Bold;
          color: var(--text-color2);
          font-size: 44px;
          border-right: 10px solid var(--text-color4);
          padding-right: 20px;
        }
      }
    }
    > .productsTitle {
      width: 100%;
      height: 120px;
      background-color: var(--background-color1);
      border-bottom: 1px solid lightgray;
      box-shadow: 5px 5px 25px rgba(54, 53, 53, 0.811);
      display: flex;
      justify-content: center;
      align-items: center;
      > .productsText {
        font-family: YekanBakh-Bold;
        color: var(--text-color2);
        font-size: 20px;
      }
    }
    > .productsContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      > .mahsoolat {
        width: 100%;
        padding: 80px 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 35px;
        > .petroProduct {
          background-color: whitesmoke;
          width: 220px;
          padding: 10px;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          transition: 300ms;
          color: black;
          cursor: pointer;
          > .productLogo {
            width: 100%;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            > .productImgLogo {
              width: inherit;
              height: inherit;
            }
          }
          > .productName {
            margin-bottom: 10px;
            font-family: YekanBakh-Bold;
            font-size: 22px;
            color: var(--text-color5);
            text-align: center;
          }
          > .productAbout {
            font-family: YekanBakh-Bold;
            text-transform: capitalize;
            text-align: center;
          }
          &:hover {
            box-shadow: 3px 3px 15px rgb(83, 81, 81);
            transform: translateY(-20px);
          }
        }
      }
    }
  }
}
