body {
  overflow-y: hidden;
  > .main {
    > .swiper {
      width: 100%;
      height: 100vh;
      >.swiper-pagination{
        margin-right: 5px;
        top: 40%;
        >.swiper-pagination-bullet{
          width: 15px;
          height: 15px;
          background-color: var(--text-color4);
        }
      }
      > .swiper-wrapper {
        > .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          > img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        > .droneShot {
          position: relative;
          > .shade {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #11111120;
            z-index: 10;
          }
          > .container {
            width: 800px;
            height: 350px;
            position: absolute;
            left: 50%;
            top: 250px;
            transform: translate(-50%, -50%);
            z-index: 15;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 25px;
            > .logo {
              width: 200px;
            }
            > .respect {
              font-family: YekanBakh-Bold;
              font-size: 22px;
              color: var(--text-color2);
              word-spacing: 3px;
            }
            > .fa {
              font-size: 40px;
              font-weight: bold;
              color: var(--text-color4);
            }
            > .vText {
              font-size: 22px;
              font-family: YekanBakh-Bold;
              color: var(--text-color2);
              word-spacing: 3px;
            }
          }
        }
        > .ourClients {
          background-color: #222222;
          background-image: url(../../../images/clients-bg.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-position: center;
          position: relative;
          > .clients {
            width: 700px;
            display: flex;
            flex-direction: column;
            align-items: start;
            color: var(--text-color2);
            row-gap: 15px;
            position: absolute;
            left: 10%;
            top: 3%;
            background-color: #22222282;
            padding: 40px;
            border-radius: 20px;
            backdrop-filter: blur(5px);
            > .hText {
              font-family: YekanBakh-Regular;
              font-size: 24px;
            }
            > .aboutClients {
              font-family: YekanBakh-Regular;
              text-align: justify;
              font-size: 18px;
              word-spacing: 1px;
            }
            > .swiper {
              width: 100%;
              height: auto;
              margin: 5px 0;
              > .swiper-wrapper {
                > .swiper-slide {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  > .clientLogo {
                    display: block;
                    width: 90px;
                    object-fit: contain;
                  }
                }
              }
            }
          }
        }
        > .aboutUs {
          background-image: url(../../../images/about-us.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: bottom;
          > .aboutText {
            > .hText {
              font-size: 34px;
            }
            > .knowMore {
              font-family: YekanBakh-Bold;
              font-size: 18px;
              word-spacing: 3px;
              display: flex;
              column-gap: 10px;
              transition: 300ms;
              color: var(--text-color4);
              > .fa {
                font-size: 24px;
              }
              &:hover {
                color: var(--text-color3);
                padding-bottom: 3px;
                border-bottom: 1px solid var(--text-color3);
              }
            }
          }
        }
        > .ourProducts {
          background-image: url(../../../images/product-bg.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: bottom;
          > .aboutText {
            z-index: 1000;
            padding: 20px;
            > .hText {
              font-size: 28px;
            }
            > .aboutProducts {
              font-size: 17px;
            }
            > .knowMore {
              font-family: YekanBakh-Bold;
              font-size: 18px;
              word-spacing: 3px;
              display: flex;
              column-gap: 10px;
              transition: 300ms;
              color: var(--text-color4);
              > .fa {
                font-size: 24px;
              }
              &:hover {
                color: var(--text-color3);
                padding-bottom: 3px;
                border-bottom: 1px solid var(--text-color3);
              }
            }
          }
          > .mainProducts {
            width: 80%;
            height: auto;
            background-color: #22222282;
            backdrop-filter: blur(5px);
            position: relative;
            top: 50px;
            padding: 20px;
            border-radius: 20px;
            > .swiper {
              width: 100%;
              height: 100%;
              > .swiper-wrapper {
                > .swiper-slide {
                  position: relative;
                  .productLink {
                    display: flex;
                    > .productImage {
                      width: 240px;
                      height: 240px;
                      border-radius: 20px;
                    }
                    &::before {
                      content: "جهت کسب اطلاعات بیشتر کلیک کنید";
                      width: 240px;
                      height: 240px;
                      padding: 20px;
                      box-sizing: border-box;
                      position: absolute;
                      right: 0;
                      top: 0;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      font-family: YekanBakh-Bold;
                      font-size: 24px;
                      word-spacing: 3px;
                      transition: 300ms;
                      backdrop-filter: blur(8px);
                      transform: scale(0);
                      border-radius: 20px;
                      color: black;
                    }
                    &:hover {
                      &::before {
                        transform: scale(1);
                      }
                    }
                  }
                  > img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
                }
              }
              > .swiper-button-next,
              .swiper-button-prev {
                &::after {
                  color: var(--text-color4);
                }
              }
            }
          }
        }
        > .footer {
          width: 100%;
          background-image: url(../../../images/footer.png);
          background-size: cover;
          background-repeat: no-repeat;
          display: flex;
          flex-direction: column;
          padding-bottom: 200px;
          > .top {
            padding: 50px 0 25px 0;
            margin: 0 auto;
            width: 900px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid lightgray;
            > .right {
              > .imgLink {
                float: left;
                > .imgLogo {
                  width: 150px;
                }
              }
            }
            > .left {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              column-gap: 20px;
              padding-top: 40px;
              > .iconLink {
                color: var(--text-color2);
                transition: 300ms;
                > .fa {
                  transition: 300ms;
                }
                &:hover > .fa-instagram {
                  color: red;
                }
                &:hover > .fa-linkedin {
                  color: blue;
                }
                &:hover > .fa-telegram {
                  color: skyblue;
                }
                &:hover > .fa-whatsapp {
                  color: green;
                }
                > .fa {
                  font-size: 20px;
                }
              }
            }
          }
          > .bottom {
            width: 900px;
            margin: 40px auto 0;
            color: var(--text-color2);
            font-family: YekanBakh-Regular;
            display: flex;
            column-gap: 60px;
            > .contactUs {
              width: 400px;
              display: flex;
              flex-direction: column;
              align-items: start;
              > .contactInfo {
                font-size: 18px;
                word-spacing: 3px;
                margin-bottom: 15px;
                color: var(--text-color4);
              }
              > .set {
                display: flex;
                height: 30px;
                align-items: center;
                column-gap: 15px;
                font-size: 16px;
                > .setIcon {
                  color: var(--text-color1);
                  font-size: 18px;
                }
                > .setData {
                  position: relative;
                  top: 3px;
                }
                > .address {
                  text-align: justify;
                }
              }
              >.mashhadAddress{
                height: auto;
              }
            }
            > .navigation {
              display: flex;
              justify-content: space-between;
              column-gap: 30px;
              flex-grow: 2;
              > .col {
                > .headingNav {
                  font-size: 18px;
                  margin-bottom: 15px;
                  text-align: start;
                  color: var(--text-color4);
                }
                > .items {
                  display: flex;
                  flex-direction: column;
                  align-items: start;
                  row-gap: 25px;
                  font-size: 16px;
                  > .item {
                    > .itemLink {
                      transition: 300ms;
                    }
                    &:hover > .itemLink {
                      color: var(--text-color3);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
