body {
  display: flex;
  justify-content: center;
  padding: 50px;
  > .container {
    min-width: 1150px;
    max-width: 1350px;
    margin: unset;
    display: flex;
    position: relative;
    column-gap: 20px;

  }
}
.show_info {
  display: flex !important;
}
.active_btn {
  background-color: rgb(165, 165, 165);
  color: white;
}
.show {
  display: flex !important;
}
