body {
  display: flex;
  justify-content: center;
  padding: 50px;
  > .container {
    min-width: 1350px;
    max-width: 1700px;
    background-color: #e5e7eb;
    border-radius: 6px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    > .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      padding-bottom: 20px;
      border-bottom: 2px solid lightgray;
      > .logo {
        width: 110px;
      }
      > .title {
        font-family: YekanBakh-Bold;
        font-size: 20px;
      }
    }
    > .tableAbout {
      font-size: 18px;
      font-family: YekanBakh-Bold;
      text-align: center;
      margin-top: 20px;
    }
    > .informationTable {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      margin: 20px 0;
      > .table {
        thead {
          tr {
            th {
              vertical-align: middle;
              text-align: center;
              font-size: 14px;
              word-spacing: 1px;
            }
            > .colSetup1 {
              min-width: 85px;
            }
            > .colSetup2 {
              min-width: 100px;
            }
            > .colSetup3 {
              min-width: 120px;
            }
          }
        }
        tbody {
          tr {
            th {
              vertical-align: middle;
              text-align: center;
            }
            td {
              vertical-align: middle;
              text-align: center;
              font-size: 14px;
            }
          }
        }
      }
    }
    > .formCounterWrapper {
      width: 300px;
      padding: 20px;
      border-radius: 10px;
      background-color: #2b2b2b9e;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
      margin-bottom: 30px;
      > .newFormTitle {
        font-size: 18px;
        font-family: YekanBakh-Bold;
        word-spacing: 2px;
        border-bottom: 1px solid lightgray;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
      }
      > .formCounter {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        > .vehicleCountLable {
          font-size: 18px;
          font-family: YekanBakh-Bold;
          cursor: pointer;
        }
        > .vehicleCountInput {
          width: 100px;
          height: 40px;
          padding-right: 10px;
        }
      }
      > .newForm {
        width: 50px;
        height: 50px;
        background-color: var(--bs-primary);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        cursor: pointer;
        transition: 300ms;
        position: relative;
        > .fa {
          color: white;
          font-size: 24px;
        }
        &:hover {
          background-color: #133c7a;
        }
      }
    }
    > .form {
      width: 760px;
      display: none;
      flex-direction: column;
      row-gap: 20px;
      border: 2px solid lightgray;
      padding: 30px;
      border-radius: 10px;
      > .formTemplate {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        > .vehicle-form-wrapper {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          border-bottom: 2px solid lightgray;
          padding-bottom: 30px;
          > .formTitle {
            font-size: 20px;
            font-family: YekanBakh-Bold;
            text-align: center;
            word-spacing: 2px;
          }
          > .inputSetup {
            display: flex;
            align-items: center;
            justify-content: space-between;
            > .labelSetup {
              font-family: YekanBakh-Regular;
              font-size: 16px;
              cursor: pointer;
            }
            > .inputValueSetup {
              width: 250px;
              height: 38px;
              border: unset;
              border-radius: 5px;
              font-size: 16px;
              padding-right: 10px;
              font-family: YekanBakh-Bold;
              padding-top: 6px;
            }
            > .licenseFullContainer {
              height: 38px;
              display: flex;
              flex-direction: row-reverse;
              background-color: white;
              border-radius: 5px;
              align-items: center;
              padding: 5px;
              > .velayat,
              > .extraDigit,
              > .serialLicense,
              > .vehicleType {
                border: unset;
                outline: unset;
                font-family: YekanBakh-Regular;
                font-size: 14px;
                text-align: center;
                cursor: pointer;
              }
              > .velayat {
                width: 90px;
              }
              > .extraDigit {
                width: 60px;
                cursor: unset;
              }
              > .serialLicense {
                width: 60px;
                cursor: unset;
              }
            }
            > .loadWeight {
              width: 100px;
              font-size: 18px;
            }
            > .uploadFileInput {
              cursor: pointer;
            }
          }
        }
      }
      > .inputSetup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > .labelSetup {
          font-family: YekanBakh-Regular;
          font-size: 16px;
          cursor: pointer;
        }
        > .form-control {
          width: 200px;
          height: 29px;
          background-color: white;
          font-size: 14px;
          font-weight: bold;
          border-radius: 5px;
          border: unset;
          cursor: pointer;
        }
        > .timeInput {
          border: unset;
          border-radius: 5px;
          height: 38px;
          padding: 0 5px;
          font-family: sans-serif;
          font-weight: bold;
          cursor: pointer;
        }
      }
      > .submitContainer {
        display: flex;
        justify-content: center;
        > .submitForm {
          width: 120px;
          height: 40px;
          border: unset;
          border-radius: 5px;
          cursor: pointer;
          font-family: YekanBakh-Regular;
          background-color: var(--background-color2);
          color: white;
          font-size: 16px;
          transition: 300ms;
          &:hover {
            background-color: green;
            box-shadow: 1px 1px 5px black;
          }
        }
      }
    }
    > .exitForm {
      width: 80px;
      height: 40px;
      background-color: var(--bs-secondary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      color: white;
      font-family: YekanBakh-Regular;
      font-size: 18px;
      border-radius: 10px;
      cursor: pointer;
      transition: 300ms;
      position: absolute;
      left: 30px;
      top: 30px;
      &:hover {
        color: var(--bs-danger);
        box-shadow: 5px 5px 10px var(--bs-tertiary-color);
      }
    }
    > .buttons {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      margin-top: 100px;
      padding-top: 30px;
      border-top: 2px solid gray;
      > .btTitle {
        font-family: YekanBakh-Regular;
        font-size: 16px;
        text-align: center;
        color: darkred;
        margin-bottom: 10px;
      }
      > .btnContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        > .btnLink {
          width: 100px;
          color: white;
          background-color: gray;
          padding: 10px;
          font-family: YekanBakh-Regular;
          font-size: 16px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          transition: 300ms;
          &:hover {
            background-color: rgb(46, 46, 46);
          }
        }
      }
    }
  }
  [id="mpdatepicker-modal"] {
    font-size: 16px !important;
  }
  [id="mpdatepicker-block"] {
    border-radius: 5px !important;
  }
  [id="mpdatepicker-block"] table {
    border-collapse: unset !important;
  }
  .mp-clear,
  .mp-close {
    color: black;
    font-family: YekanBakh-Bold !important;
  }
  .mp-today {
    font-family: YekanBakh-Bold !important;
  }
  .mpheader {
    font-family: YekanBakh-Regular;
  }
  table {
    font-family: YekanBakh-Regular;
  }
}
.show {
  display: flex !important;
}
