body {
  display: flex;
  padding: 10px;
  > .container {
    max-width: 100%;
    margin: unset;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    > .panel {
      > .btnContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #e5e7eb;
        padding: 10px;
        border-radius: 10px;
        gap: 10px;
        > .btn {
          font-size: 12px;
          font-family: YekanBakh-Bold;
          text-align: center;
          transition: 300ms;
          &:hover {
            background-color: rgb(165, 165, 165);
            color: white;
          }
          > .fa {
            vertical-align: middle;
            font-size: 16px;
            margin-left: 5px;
          }
        }
        > .exit_btn {
          &:hover {
            color: darkred;
          }
        }
      }
    }
    > .infoWrapper {
      background-color: #e5e7eb;
      border-radius: 10px;
      padding: 10px;
      width: 100%;
      > .leftSection {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        > .tableAbout {
          font-size: 12px;
          font-family: YekanBakh-Bold;
          text-align: center;
          margin-top: 10px;
        }
        > .informationTable {
          width: 100%;
          display: flex;
          flex-direction: column;
          row-gap: 15px;
          margin: 20px 0;
          > .table {
            thead {
              tr {
                th {
                  vertical-align: middle;
                  text-align: center;
                  font-size: 10px;
                  word-spacing: 1px;
                }
                > .colSetup1 {
                  min-width: 60px;
                }
                > .colSetup2 {
                  min-width: 100px;
                }
                > .colSetup3 {
                  min-width: 120px;
                }
              }
            }
            tbody {
              tr {
                th {
                  vertical-align: middle;
                  text-align: center;
                  font-size: 12px;
                }
                td {
                  vertical-align: middle;
                  text-align: center;
                  font-size: 12px;
                  >.btn{
                    margin-bottom: 5px;
                  }
                }
              }
            }
          }
        }
        > .newForm {
          width: 40px;
          height: 40px;
          background-color: var(--bs-primary);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          cursor: pointer;
          transition: 300ms;
          margin: 0 0 30px;
          position: relative;
          &::before {
            content: "ثبت اطلاعات جدید";
            position: absolute;
            top: -50px;
            z-index: 5;
            width: 120px;
            height: 40px;
            background-color: rgb(80, 80, 80);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: YekanBakh-Bold;
            font-size: 14px;
            color: white;
            border-radius: 10px;
            opacity: 0;
            transition: 300ms;
          }
          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top: 10px solid rgb(80, 80, 80);
            top: -10px;
            opacity: 0;
            transition: 300ms;
          }
          > .fa {
            color: white;
            font-size: 18px;
          }
          &:hover {
            background-color: #133c7a;
            &::before {
              opacity: 1;
            }
            &::after {
              opacity: 1;
            }
          }
        }
        > .form {
          width: 100%;
          display: none;
          flex-direction: column;
          row-gap: 20px;
          border: 2px solid lightgray;
          padding: 30px;
          border-radius: 10px;
          > .inputSetup {
            display: flex;
            align-items: center;
            justify-content: space-between;
            > .labelSetup {
              font-family: YekanBakh-Regular;
              font-size: 12px;
              cursor: pointer;
            }
            > .inputValueSetup {
              width: 200px;
              height: 32px;
              border: unset;
              border-radius: 5px;
              font-size: 12px;
              padding-right: 10px;
              font-family: YekanBakh-Bold;
              padding-top: 6px;
            }
            > .passwordSection {
              width: 200px;
              height: 38px;
              background-color: white;
              border-radius: 5px;
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              > .inputSetup {
                width: 100%;
                height: 38px;
                border: unset;
                border-radius: 5px;
                font-size: 16px;
                padding-left: 10px;
                text-align: end;
                outline: unset;
              }
              > .fa {
                padding: 0 7px;
                cursor: pointer;
              }
            }
          }
          > .submitContainer {
            display: flex;
            justify-content: center;
            > .submitForm {
              width: 90px;
              height: 40px;
              border: unset;
              border-radius: 5px;
              cursor: pointer;
              font-family: YekanBakh-Regular;
              background-color: var(--background-color2);
              color: white;
              font-size: 14px;
              transition: 300ms;
              &:hover {
                background-color: green;
                box-shadow: 1px 1px 5px black;
              }
            }
          }
        }
        > .formSet {
          display: flex;
        }
      }
    }
  }
}
.show_info {
  display: flex !important;
}
.active_btn {
  background-color: rgb(165, 165, 165);
  color: white;
}
.show {
  display: flex !important;
}
