body {
  display: flex;
  padding: 10px;
  > .container {
    max-width: 100%;
    margin: unset;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    > .panel {
      > .btnContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #e5e7eb;
        padding: 10px;
        border-radius: 10px;
        gap: 10px;
        > .btn {
          font-size: 12px;
          font-family: YekanBakh-Bold;
          text-align: center;
          transition: 300ms;
          &:hover {
            background-color: rgb(165, 165, 165);
            color: white;
          }
          > .fa {
            vertical-align: middle;
            font-size: 16px;
            margin-left: 5px;
          }
        }
        > .exit_btn {
          &:hover {
            color: darkred;
          }
        }
      }
    }
    > .infoWrapper {
      background-color: #e5e7eb;
      border-radius: 10px;
      padding: 10px;
      width: 100%;
      > .leftSection {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        > .tableAbout {
          font-size: 12px;
          font-family: YekanBakh-Bold;
          text-align: center;
          margin-top: 10px;
        }
        > .informationTable {
          width: 100%;
          display: flex;
          flex-direction: column;
          row-gap: 15px;
          margin: 20px 0;
          > .table {
            thead {
              tr {
                th {
                  vertical-align: middle;
                  text-align: center;
                  font-size: 10px;
                  word-spacing: 1px;
                }
                > .colSetup1 {
                  min-width: 60px;
                }
                > .colSetup2 {
                  min-width: 100px;
                }
                > .colSetup3 {
                  min-width: 120px;
                }
              }
            }
            tbody {
              tr {
                th {
                  vertical-align: middle;
                  text-align: center;
                  font-size: 10px;
                }
                td {
                  vertical-align: middle;
                  text-align: center;
                  font-size: 10px;
                  > .btn {
                    margin-bottom: 5px;
                  }
                }
              }
            }
          }
        }
        > .pagination-wrapper {
          display: flex;
          justify-content: center;
          margin: 20px 0;
          height: 32px;
          > .pagination {
            > .page-item {
              > .page-link {
                font-size: 10px;
              }
              > .btn-page {
                padding: 6px;
              }
            }
          }
        }
        > .newForm {
          width: 40px;
          height: 40px;
          background-color: var(--bs-primary);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          cursor: pointer;
          transition: 300ms;
          margin: 0 0 30px;
          position: relative;
          &::before {
            content: "ثبت اطلاعات جدید";
            position: absolute;
            top: -50px;
            z-index: 5;
            width: 120px;
            height: 40px;
            background-color: rgb(80, 80, 80);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: YekanBakh-Bold;
            font-size: 14px;
            color: white;
            border-radius: 10px;
            opacity: 0;
            transition: 300ms;
          }
          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top: 10px solid rgb(80, 80, 80);
            top: -10px;
            opacity: 0;
            transition: 300ms;
          }
          > .fa {
            color: white;
            font-size: 18px;
          }
          &:hover {
            background-color: #133c7a;
            &::before {
              opacity: 1;
            }
            &::after {
              opacity: 1;
            }
          }
        }
        > .form {
          width: 100%;
          display: none;
          flex-direction: column;
          row-gap: 20px;
          border: 2px solid lightgray;
          padding: 30px 15px;
          border-radius: 10px;
          margin-bottom: 20px;
          > .inputSetup {
            display: flex;
            align-items: center;
            justify-content: space-between;
            > .labelSetup {
              font-family: YekanBakh-Regular;
              font-size: 12px;
              cursor: pointer;
            }
            > .inputValueSetup {
              width: 180px;
              height: 32px;
              border: unset;
              border-radius: 5px;
              font-size: 14px;
              padding-right: 10px;
              font-family: YekanBakh-Bold;
              padding-top: 6px;
            }
            > .passwordSection {
              width: 180px;
              height: 32px;
              background-color: white;
              border-radius: 5px;
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              > .inputSetup {
                width: 100%;
                height: 32px;
                border: unset;
                border-radius: 5px;
                font-size: 14px;
                padding-left: 10px;
                text-align: end;
                outline: unset;
              }
              > .fa {
                padding: 0 7px;
                cursor: pointer;
              }
            }
            > .licenseFullContainer {
              display: flex;
              flex-direction: row-reverse;
              background-color: white;
              border-radius: 5px;
              align-items: end;
              padding: 5px;
              > .licensePlateLeftContainer {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                border-right: 1px solid lightgray;
                > .twoLeftDigitsInput,
                > .threeRightDigitsInput {
                  width: 40px;
                  height: 32px;
                  border: unset;
                  border-radius: 5px;
                  font-size: 14px;
                  text-align: center;
                  outline: unset;
                }
                > .licenseAlphabetSelect {
                  height: 32px;
                  font-family: YekanBakh-Regular;
                  border: unset;
                  border-radius: 5px;
                  font-size: 14px;
                }
              }
              > .provincialLicensePlateNumber {
                display: flex;
                flex-direction: column;
                align-items: center;
                > .iran {
                  font-size: 10px;
                  font-family: YekanBakh-Regular;
                }
                > .provincialNumber {
                  width: 40px;
                  height: 32px;
                  border: unset;
                  border-radius: 5px;
                  font-size: 14px;
                  text-align: center;
                  outline: unset;
                }
              }
            }
            > .aflicenseFullContainer {
              background-color: white;
              display: flex;
              flex-direction: row-reverse;
              justify-content: center;
              align-items: center;
              padding: 5px;
              border-radius: 5px;
              align-items: center;
              height: 38px;
              align-items: center;
              height: 38px;
              > .velayat,
              > .extraDigit,
              > .serialLicense,
              > .vehicleType {
                border: unset;
                outline: unset;
                font-family: YekanBakh-Regular;
                font-size: 12px;
                text-align: center;
                cursor: pointer;
              }
              > .velayat {
                width: 75px;
              }
              > .extraDigit {
                width: 48px;
                position: relative;
                top: 2px;
                cursor: auto;
              }
              > .serialLicense {
                width: 40px;
                position: relative;
                top: 2px;
                cursor: auto;
              }
            }
            > .form-control {
              width: 200px;
              height: 29px;
              background-color: white;
              font-size: 14px;
              font-weight: bold;
              border-radius: 5px;
              border: unset;
              cursor: pointer;
            }
            > .checkBoxInput {
              width: 20px;
              cursor: pointer;
            }
            > .uploadFileInput {
              cursor: pointer;
              height: 35px;
              font-size: 12px;
            }
          }
          > .submitContainer {
            display: flex;
            justify-content: center;
            > .submitForm {
              width: 120px;
              height: 40px;
              border: unset;
              border-radius: 5px;
              cursor: pointer;
              font-family: YekanBakh-Regular;
              background-color: var(--background-color2);
              color: white;
              font-size: 16px;
              transition: 300ms;
              &:hover {
                background-color: green;
                box-shadow: 1px 1px 5px black;
              }
            }
          }
        }
        > .formSet {
          display: flex;
        }
      }
    }
  }
  [id="mpdatepicker-modal"] {
    font-size: 16px !important;
  }
  [id="mpdatepicker-block"] {
    border-radius: 5px !important;
    width: 300px !important;
  }
  [id="mpdatepicker-block"] table {
    border-collapse: unset !important;
  }
  .mp-clear,
  .mp-close {
    color: black;
    font-family: YekanBakh-Bold !important;
  }
  .mp-today {
    font-family: YekanBakh-Bold !important;
  }
  .mpheader {
    font-family: YekanBakh-Regular;
  }
  table {
    font-family: YekanBakh-Regular;
  }
}
.show_info {
  display: flex !important;
}
.active_btn {
  background-color: rgb(165, 165, 165);
  color: white;
}
.show {
  display: flex !important;
}
.swal2-popup {
  width: 400px;
  height: auto;
  .swal2-icon {
    margin-top: 10px;
  }
  .swal2-title {
    padding-top: 10px;
    font-family: YekanBakh-Regular;
    font-size: 18px;
    word-spacing: 3px;
  }
  .swal2-actions {
    margin-top: 10px;
    button {
      font-family: YekanBakh-Bold;
      font-size: 16px;
    }
  }
}
