body {
  display: flex;
  padding: 10px;
  > .container {
    max-width: 100%;
    margin: unset;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;

  }
}
.show_info {
  display: flex !important;
}
.active_btn {
  background-color: rgb(165, 165, 165);
  color: white;
}
.show {
  display: flex !important;
}
