body {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 80px;
  > .container {
    width: 678px;
    height: 380px;
    margin: unset;
    position: relative;
    background-image: url(../../../Images/manager-page-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    > .vehicle-status {
      width: 120px;
      height: 130px;
      position: absolute;
      cursor: pointer;
    }
    > .gemizdar-expert-status {
      left: 0;
      top: 50px;
    }
    > .gomrok-expert-status {
      left: 140px;
      bottom: 50px;
    }
    > .iran-clearance-status {
      left: 275px;
      top: 50px;
    }
    > .barchelan-status {
      right: 110px;
      bottom: 50px;
    }
    > .afghanestan-stock-status {
      right: 0;
      top: 50px;
    }
    > .modal {
      justify-content: center;
      > .modal-dialog {
        min-width: 650px;
        > .modal-content {
          > .modal-header {
            justify-content: space-between;
            > .modal-title {
              font-family: YekanBakh-Bold;
              font-size: 20px;
            }
            button {
              margin: unset;
            }
          }
          > .modal-body {
            > .table {
              thead {
                tr {
                  th {
                    vertical-align: middle;
                    text-align: center;
                    font-size: 14px;
                    word-spacing: 1px;
                  }
                  > .colSetup1 {
                    min-width: 85px;
                  }
                  > .colSetup2 {
                    min-width: 100px;
                  }
                  > .colSetup3 {
                    min-width: 120px;
                  }
                }
              }
              tbody {
                tr {
                  th {
                    vertical-align: middle;
                    text-align: center;
                    font-size: 14px;
                  }
                  td {
                    vertical-align: middle;
                    text-align: center;
                    font-size: 14px;
                  }
                }
              }
            }
          }
          > .pagination-wrapper {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            > .pagination {
              > .page-item {
                > .page-link {
                  font-size: 14px;
                }
              }
            }
          }
          button {
            font-family: YekanBakh-Bold;
          }
        }
      }
    }
    > .exitForm {
      width: 60px;
      height: 30px;
      background-color: var(--bs-secondary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      color: white;
      font-family: YekanBakh-Regular;
      font-size: 14px;
      border-radius: 10px;
      cursor: pointer;
      transition: 300ms;
      position: absolute;
      left: 5px;
      top: 5px;
      &:hover {
        color: var(--bs-danger);
        box-shadow: 5px 5px 10px var(--bs-tertiary-color);
      }
    }
  }
}
.swal2-popup {
  width: 400px;
  height: auto;
  .swal2-icon {
    margin-top: 10px;
  }
  .swal2-title {
    padding-top: 10px;
    font-family: YekanBakh-Regular;
    font-size: 20px;
    word-spacing: 3px;
  }
  .swal2-actions {
    margin-top: 10px;
    button {
      font-family: YekanBakh-Bold;
      font-size: 16px;
    }
  }
}
